@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
    --color-sencundary: rgb(235, 6, 6);
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;

}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.jumbotron{
    color: #FF8400;
    font-size: 30px;
}
.display-4{
    color: black;
    font-weight: bolder;
}
.lead{
    font-weight: bold;
}
.btnDash{
    background-color: black;
    color: #FF8400;
    border-radius: 3px;
}
